.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr 30px;
  grid-template-areas: 
  'cabecalho'
  'conteudo'
  'rodape';
}
.main-header {
  background-color: #FFA62B;
  grid-area: cabecalho;
}

.main-content {
  background-color: #000;
  display:flex;
  grid-area: conteudo;
}

.footer-main {
  align-items: center;
  background-color: #1B2431;
  display: flex;
  grid-area: rodape;
  justify-content: center;
}
