.main-menu {
  background-color: rgb(26, 25, 25);
  height: 100%;
  overflow: hidden;
  width: 10%;
}

.liste-itens {
  margin-left: 10px;
  margin-top: 10px;
}

.nav-li-css-iten {
  margin-top: 15px;
}

.nav-a-css-iten {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(.8vw + .8vh);
  font-weight: 600;
  letter-spacing: 2px;
}