@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
}

a:link {
  text-decoration: none;
}

button {
  background-color: rgba(236, 226, 226, 0.774);
  border: none;
  border-radius: 4px;
  color: rgba(46, 46, 46, 0.904);
  font-family: 'Oswald', sans-serif;
  height: 30px;
  margin: 5px;
  width: 80px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: rgba(202, 177, 177, 0.774);
  cursor: pointer;
}

input[type=text] , input[type=email]{
  border: 1px solid rgb(187, 175, 175);
  border-radius: 4px;
  display: block;
  height: 30px;
  margin: 5px;
  outline: none;
  padding: 2px;
  width: 10%;
}
